{% extends "bases/main.html" %}

{% block main_view %}
    <div class="card">
        <div class="card-header text-center">
            <h3 class="mb-0">{% block flask_user_title %}{% endblock %}</h3>
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <div id="main-div">
                        {% block flask_user_content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
