{% macro render_card_header(title) -%}
<div class="card-header text-center">
    <h3 class="my-2">{{ title }}</h3>
</div>
{%- endmacro %}

{% macro render_main_legend(view) -%}
<div class="row justify-content-center mb-3">
    <div class="col-auto">
        <div class="table-responsive text-nowrap">
            <table class="table table-sm table-bordered table-hover align-middle text-center mb-0">
                <thead class="table-light">
                    <tr>
                        <th colspan="3">Legend</th>
                    </tr>
                </thead>
                <tbody>
                    {% if view == 'yourpicks' %}
                    <tr>
                        <td class="pick-unsubmitted"></td>
                        <td>unsubmitted</td>
                        <td class="pick-unsubmitted"></td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td class="pick-unstarted"></td>
                        <td>not started</td>
                        <td class="pick-unstarted"></td>
                    </tr>
                    <tr>
                        <td class="pick-inprogress-noncover"></td>
                        <td>not covering</td>
                        <td class="pick-inprogress-noncover"></td>
                    </tr>
                    <tr>
                        <td class="pick-inprogress-push"></td>
                        <td>pushing</td>
                        <td class="pick-inprogress-push"></td>
                    </tr>
                    <tr>
                        <td class="pick-inprogress-cover"></td>
                        <td>covering</td>
                        <td class="pick-inprogress-cover"></td>
                    </tr>
                    <tr>
                        <td class="pick-finished-noncover"></td>
                        <td>did not cover</td>
                        <td class="pick-finished-noncover"></td>
                    </tr>
                    <tr>
                        <td class="pick-finished-push"></td>
                        <td>pushed</td>
                        <td class="pick-finished-push"></td>
                    </tr>
                    <tr>
                        <td class="pick-finished-cover"></td>
                        <td>covered</td>
                        <td class="pick-finished-cover"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro render_lb_legend() -%}
<div class="row justify-content-center mb-3">
    <div class="col-auto">
        <div class="table-responsive text-nowrap">
            <table class="table table-sm table-bordered table-hover align-middle text-center mb-0">
                <thead class="table-light">
                    <tr>
                        <th colspan="3">Legend</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="pick-finished-cover"></td>
                        <td>perfect week</td>
                        <td class="pick-finished-cover"></td>
                    </tr>
                    <tr>
                        <td class="pick-finished-noncover"></td>
                        <td>sucks to suck</td>
                        <td class="pick-finished-noncover"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{%- endmacro %}
