{% extends "bases/main.html" %}

{% from "macros.html" import render_card_header %}

{% block main_view %}

<div class="card">
    {{ render_card_header("Successful Registration") }}
    <div class="card-body text-center">
        <i class="fas fa-user-check fa-5x green mb-3"></i>
        <p>You have successfully registered for the paid league this season.</p>
        <p>The icon in your menu bar should have turned <span class="green">green</span>.</p>
        <p>You will now appear in all the filtered views for paid players, like the leaderboard.</p>
        <a class="btn btn-primary" href="{{ url_for('main.home') }}">Return to Supercontest</a>
    </div>
</div>

{% endblock %}
