<script src="https://js.stripe.com/v3/"></script>
<script>
    const stripe = Stripe('{{ public_api_key }}');
    stripe.redirectToCheckout({
        sessionId: '{{ session_id }}'
    }).then(function (result) {
        $.notify(result.error.message, 'error');
    });
</script>
