{% if g.is_paid_user %}
    {% if g.is_offseason %}
        <span class="navbar-text ms-3 px-2 border border-secondary rounded text-center text-secondary" data-toggle="tooltip" title="you were in the paid league last season">
            Offseason
        </span>
    {% else %}
        <span class="navbar-text ms-3 px-2 border border-success rounded text-center text-success" data-toggle="tooltip" title="you are in the paid league for the {{ g.current_season }} season">
            Premium
        </span>
    {% endif %}
{% else %}
    {% if g.is_offseason %}
        <span class="navbar-text ms-3 px-2 border border-secondary rounded text-center text-secondary" data-toggle="tooltip" title="you were not in the paid league last season">
            Offseason
        </span>
    {% else %}
        <li class="nav-item">
            <a class="nav-link ms-3 px-2 btn btn-warning text-dark" data-toggle="tooltip" title="you are not in the paid league for the {{ g.current_season }} season" href="{{ url_for('main.checkout') }}">
                Upgrade
            </a>
        </li>
    {% endif %}
{% endif %}
