{% extends 'flask_user_layout.html' %}

{% block flask_user_title %}
    {%trans%}Register{%endtrans%}
{% endblock %}

{% block flask_user_content %}
    {% from "flask_user/_macros.html" import render_field, render_submit_field %}
    <form action="" method="POST" novalidate formnovalidate class="form" role="form">
        {{ form.hidden_tag() }}
        {% set field = form.email %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            <label for="{{ field.id }}" class="control-label">{{ field.label.text }}</label>
            {{ field(class_='form-control', tabindex=210) }}
            {% if field.errors %}
                {% for e in field.errors %}
                    <p class="help-block text-danger">{{ e }}</p>
                {% endfor %}
            {% endif %}
        </div>
        {{ render_field(form.password, tabindex=230) }}
        {{ render_field(form.retype_password, tabindex=240) }}
        <div class="my-3"></div>
        {{ render_submit_field(form.submit, tabindex=280) }}
        <div class="my-3">
            <a href="{{ url_for('user.login') }}" tabindex='290'>
                {%trans%}Already registered? Sign in.{%endtrans%}
            </a>
        </div>
    </form>
{% endblock %}
