{% if 'league' in g %}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navDropdownLeague" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        League
    </a>
    <div class="dropdown-menu text-center" aria-labelledby="navDropdownLeague">
        <!-- free league -->
        {% set var_param = {"league": 0} %}
        {% set free_league_link = url_for(request.url_rule.endpoint, **dict(g.params, **var_param)) %}
        <a class="dropdown-item" href="{{ free_league_link }}">Free</a>
        <!-- other leagues -->
        {% for league_id, league_name in g.available_leagues %}
            {% set var_param = {"league": league_id} %}
            {% set other_league_link = url_for(request.url_rule.endpoint, **dict(g.params, **var_param)) %}
            <a class="dropdown-item" href="{{ other_league_link }}">{{ league_name }}</a>
        {% endfor %}
    </div>
</li>

{% endif %}
