<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navDropdownProfile" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user"></i>
    </a>
    <div class="dropdown-menu text-center" aria-labelledby="navDropdownProfile">
        <a class="dropdown-item" href="{{ url_for('user.edit_user_profile') }}">
            Settings
        </a>
        <a class="dropdown-item" href="{{ url_for('user.logout') }}">
            Logout
        </a>
        {% if call_or_get(current_user.is_authenticated) and current_user.has_roles('Admin') %}
        <a class="dropdown-item text-danger" href="/admin" target="_blank">
            Admin
        </a>
        {% endif %}
    </div>
</li>
