{% if 'week' in g %}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navDropdownWeek" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Week
    </a>
    <div class="dropdown-menu text-center" aria-labelledby="navDropdownWeek">
        {% if not g.is_current_season_requested %}
            {% set up_to_week = g.weeks_in_season %}
        {% else %}
            {% if g.is_regseason %}
                {% set up_to_week = g.current_week %}
            {% elif g.is_preseason %}
                {% set up_to_week = 1 %}
            {% else %}
                {% set up_to_week = g.weeks_in_season %}
            {% endif %}
        {% endif %}
        {% for _week in range(1, up_to_week + 1) %}
            {% set var_param = {"week": _week} %}
            {% set other_week_link = url_for(request.url_rule.endpoint, **dict(g.params, **var_param)) %}
            <a class="dropdown-item" href="{{ other_week_link }}">{{ '%02d' % _week }}</a>
        {% endfor %}
    </div>
</li>

{% endif %}
