{% extends "contest/view_header.html" %}

{% block contest_view_title %}Alltime Leaderboard{% endblock %}

{% block main_view %}

<script>
    const currentUserId = {{ current_user.id }};
</script>

<div class="card">
    <div class="card-body">
        <!-- Help Collapse -->
        <div id="helpCollapse" class="collapse">
            <div class="row justify-content-center mb-3">
                <div class="col-auto">
                    <div class="card">
                        <h6 class="card-header text-center">Instructions</h6>
                        <div class="card-body">
                            <p class="card-text">The alltime leaderboard only considers completed games. It does not count any in-progress games.</p>
                            <p class="card-text">This is not filtered by league; it's the free league, every user over every season.</p>
                            <p class="card-text">APM = Average Pick Margin. Your pick overcovering their line by 15 points is different than winning via 1pt over line.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Table -->
        <div class="row justify-content-center">
            <div class="col-auto">
                <div class="table-responsive text-nowrap"> 
                    <table id="alltimelbTable" class="table table-sm table-bordered table-hover table-striped align-middle text-center mb-0">
                        <thead>
                            <tr class="table-light">
                                <td colspan="2" class="border-right-thick">Leaguewide Pick Percentages <i class="fas fa-long-arrow-alt-right"></i></td>
                                {% for season_percentage in toprow_seasons %}
                                    {% if season_percentage is not none %}
                                        <td colspan="2" class="border-left-thick">{{ season_percentage }}<span class="text-body-secondary tiny">%</span></td>
                                    {% else %}
                                        <td colspan="2" class="border-left-thick"><span class="text-body-secondary">-</span></td>
                                    {% endif %}
                                {% endfor %}
                                <td class="border-left-thick">Alltime <i class="fas fa-long-arrow-alt-right"></i></td>
                                {% if toprow_alltime is not none %}
                                    <td>{{ toprow_alltime }}<span class="text-body-secondary tiny">%</span></td>
                                {% else %}
                                    <td><span class="text-body-secondary">-</span></td>
                                {% endif %}
                                <td><span class="text-body-secondary">-</span></td>
                            </tr>
                            <tr class="table-dark">
                                <th scope="col">Rank</th>
                                <th scope="col" class="border-right-thick">User</th>
                                {% for _season in g.available_seasons %}
                                    <th colspan="2" scope="col" class="border-left-thick">{{ _season }}</th>
                                {% endfor %}
                                <th scope="col" class="border-left-thick">Points</th>
                                <th scope="col">%</th>
                                <th scope="col" data-toggle="tooltip" title="Average Pick Margin">APM</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in final_alltime_results %}
                                <tr class="userRow" id="{{ result['user_id']|string }}">
                                    <th scope="row" class="rankCell">{{ result["rank"] }}<span class="rankSuffix text-body-secondary tiny"></span></th>
                                    <td class="w-max-200 border-right-thick" data-toggle="tooltip" title="{{ g.id_name_map[result['user_id']] }} ({{ g.id_email_map[result['user_id']] }})">{{ g.id_name_map[result["user_id"]] }}</td>
                                    {% for _season in g.available_seasons %}
                                        {% if _season in result["pick_counts_by_season"] and _season in result["point_rollups_by_season"] %}
                                            {% set numPicks = result["pick_counts_by_season"][_season]["cover"] + result["pick_counts_by_season"][_season]["push"] + result["pick_counts_by_season"][_season]["noncover"] %}
                                            {% set points = result["point_rollups_by_season"][_season]["finished"] %}
                                            <td class="border-left-thick" data-toggle="tooltip" title="points">
                                                <a href="https://southbaysupercontest.com/leaderboard/season{{_season}}/league0" style="text-decoration: none;">
                                                    {{ points }}
                                                </a>
                                            </td>
                                            <td data-toggle="tooltip" title="percentage picks correct">
                                                <a href="https://southbaysupercontest.com/leaderboard/season{{_season}}/league0" style="text-decoration: none;">
                                                    {{ get_percentage(points, numPicks) }}<span class="text-body-secondary tiny">%</span>
                                                </a>
                                            </td>
                                        {% else %}
                                            <td class="border-left-thick"><span class="text-body-secondary">-</span></td>
                                            <td><span class="text-body-secondary">-</span></td>
                                        {% endif %}
                                    {% endfor %}
                                    <th scope="row" class="totalScore border-left-thick">{{ result["points"] }}</th>
                                    {% if result["percentage"] is not none %}
                                        <td class="percentage">{{ result["percentage"] }}<span class="text-body-secondary tiny">%</span></td>
                                    {% else %}
                                        <td><span class="text-body-secondary">-</span></td>
                                    {% endif %}
                                    <td>{{ result["avg_pick_margin"]|round(3) }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
