{% extends "contest/view_header.html" %}

{% block contest_view_title %}Statistics{% endblock %}

{% block contest_view_subtitle %}
{% if g.season == 0 %}
    {{ g.stats_scope.upper() }}, All Seasons, {{ "{:,}".format(numgames) }} Games
{% else %}
    {{ g.stats_scope.upper() }}, {{ g.season }} Season, {{ "{:,}".format(numgames) }} Games
{% endif %}
{% endblock %}

{% block main_view %}

<script>
    const plots = {{ plots|tojson }};
</script>

<div class="card">
    <div class="card-body" >
        <div class="card-header text-center"><h5>Contents</h5></div>
        <ul class="mt-4 scrollbox" id="plots-toc"></ul>
    </div>
    <hr>
    <div class="card-body p-0" id="plots-card"></div>
</div>

{% endblock %}
