{% extends "bases/contest.html" %}

{% block contest_view_header %}

<nav class="navbar navbar-expand-sm bg-secondary px-3" data-bs-theme="dark">
    <span class="navbar-brand">
        {% block contest_view_title %}
        {% endblock %}
    </span>
    <span class="navbar-text me-auto">
        {% block contest_view_subtitle %}
        {% endblock %}
    </span>
    <a class="btn btn-info ms-auto" data-bs-toggle="collapse" href="#helpCollapse" aria-expanded="false" aria-controls="helpCollapse">
        Help
    </a>
</nav>

{% endblock %}
