{% extends "admin/master.html" %}

<!--
    This template was originally written for Bootstrap 4, native in my supercontest site,
    but flask-admin only supports Bootstrap 3, so it may look slightly different in
    its current home.
-->

{% block body %}

<div class="text-center mt-3">
    <p>Changes the status of any game during the current week.</p>
</div>

<br>

<form action="{{ url_for('main.change_status') }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <h2>Change Status Form</h2>
    <p>For a game during Week <strong>{{ current_week }}</strong> of the <strong>{{ current_season }}</strong> season.</p>
    <div class="form-group">
        <label for="matchupFormSelect">Matchup</label>
        <select name="matchup" class="form-control" id="matchupFormSelect" required="true">
            <option hidden disabled selected value> -- select an option -- </option>
            {% for matchup in matchups %}
            <option>{{ matchup }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
      <label for="statusFormSelect">Status</label>
      <select name="status_name" class="form-control" id="statusFormSelect" required="true">
          <option hidden disabled selected value> -- select an option -- </option>
          {% for status_name in status_names %}
          <option>{{ status_name }}</option>
          {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <p></p><p>Only click submit once, and wait a moment. If successful, it will take you to the Matchups view to confirm that the database has been updated.</p>
</div>

{% endblock %}
