{% extends "admin/master.html" %}

<!--
    This template was originally written for Bootstrap 4, native in my supercontest site,
    but flask-admin only supports Bootstrap 3, so it may look slightly different in
    its current home.
-->

{% block body %}

<div class="text-center mt-3">
    <p>Emails everyone in the league who has any notifications enabled (<a href="{{ url_for('main.email_preferences') }}">settings</a>).</p>
    <p>The link below will open your mail client with recipients prepopulated.</p>
    <p>This is tested with chrome and gmail (<code>chrome://settings/handlers</code> where the default should be <code>mail.google.com</code>). Your client may be different.</p>
    <p>Add subject/body as desired and send manually when ready.</p>
    <a href="mailto:{{ mailto }}">Open Email Draft</a>
</div>
<br>

{% endblock %}
