{% extends 'admin/index.html' %}

{% block body %}

<p>This page collects the admin funtionality of the supercontest application.</p>
<p>Visit the links in the menu for the available actions.</p>

{% endblock %}
