{% extends "admin/master.html" %}

<!--
    This template was originally written for Bootstrap 4, native in my supercontest site,
    but flask-admin only supports Bootstrap 3, so it may look slightly different in
    its current home.
-->

{% block body %}

<div class="text-center mt-3">
    <p>This interface bypasses the usual verifications for pick submission (lockdown at midnight saturday, etc).</p>
    <p>The user will be emailed when you submit picks for them.</p>
    <p>You can place any number of picks from 0-5. It will replace whatever the user currently has.</p>
</div>

<br>

<form action="{{ url_for('main.pick_late') }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <h2>Late Pick Form</h2>
    <p>These picks will be submitted for Week <strong>{{ current_week }}</strong> of the <strong>{{ current_season }}</strong> season.</p>
    <div class="form-group">
        <label for="userFormSelect">User Email</label>
        <select name="user" class="form-control" id="userFormSelect" required="true">
            <option hidden disabled selected value> -- select an option -- </option>
            {% for user in users %}
            <option>{{ user }}</option>
            {% endfor %}
        </select>
    </div>
    {% for pick_number in range(1, 5+1) %}
        <div class="form-group">
            <label for="teamFormSelect{{ pick_number }}">Team {{ pick_number }}</label>
            <select name="picked_team{{ pick_number }}" class="form-control" id="teamFormSelect{{ pick_number }}">
                <option hidden disabled selected value> -- select an option -- </option>
                {% for team in teams %}
                <option>{{ team }}</option>
                {% endfor %}
            </select>
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
    <p></p><p>Only click submit once, and wait a moment. If successful, it will take you to the All-Picks view to confirm that the database has been updated.</p>
</div>

{% endblock %}
